</div>
<div class="featured-container">
  <div class="container">
  <div class="jumbotron featured">
    <h1>Hello, world!</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
    </div>
</div>
<div class="container">
<hr/>
<div class="row">
  <div class="col-sm-6">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
      condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
      sed odio dui.</p>
    <p><a href="#" role="button" class="btn btn-default">View details »</a></p>
  </div>
  <div class="col-sm-6">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
      condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
      sed odio dui.</p>
    <p><a href="#" role="button" class="btn btn-default">View details »</a></p>
  </div>
  <div class="col-sm-6">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
      condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
      sed odio dui.</p>
    <p><a href="#" role="button" class="btn btn-default">View details »</a></p>
  </div>
  <div class="col-sm-6">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
      condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
      sed odio dui.</p>
    <p><a href="#" role="button" class="btn btn-default">View details »</a></p>
  </div>
</div>